<h1> <%= @merchant.name %> </h1>

<p><%= link_to "Items Index", merchant_items_path(@merchant.id ) %></p>
<p><%= link_to "Invoices Index", merchant_invoices_path(@merchant.id) %> </p>

<h2>Top Customers</h2>
<%# <ul>
  <% @top_customers.each do |customer| %>
    <%# <li><%= customer.name %>
  <%# <% end %> %>
<%# </ul> %> %> %>