<h1><%= @merchant.name %> Items</h1>

<h2>All Items<h2>
<ul>
  <% @items.each do |item| %>
  <li><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %></li>
  <p> <%= "Status: #{item.status}" %> </p>
  <% end %>
</ul>

<section> <%= link_to "Create Item", new_merchant_item_path %> </section>